
/* Arka plan ayarları:
 no-repeat: Resim ekranı kaplamazsa yan yana/alt alta tekrar etmesin.
 center center: Resmi hem yatayda hem dikeyde tam ortala.
 fixed: Sayfa kaydırılsa bile resim arkada sabit kalsın (hareket etmesin).
 cover: Ekranın her yerini boşluk kalmadan kaplaması için
*/
body.login-page {
    background: url('login.png') no-repeat center center fixed; 
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

/* Üstteki Büyük Başlık */
.main-title {
    color: white;
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 30px; /* Kartla arasındaki mesafe */
}

/* KART */
.login-card {
    width: 500px; /* Genişlik */
    min-height: 550px; /* Boy */
    background: rgba(30, 30, 30, 0.75) !important; /* Koyu şeffaf renk */
    backdrop-filter: blur(10px); /* Arkayı bulanıklaştırır */
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    color: white;
}

/* Kartın İçindeki Kırmızı Başlık */
.card-header-title {
    color: #fc3955;
    font-weight: bold;
    font-size: 1.8rem;
}

/* Giriş Kutuları (Inputlar) */
.custom-input {
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 0.9rem;
}

/* Kırmızı Buton */
.btn-login {
    background-color: #fc3955 !important;
    border: none;
    color: white;
    height: 50px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.3s;
}

    .btn-login:hover {
        background-color: #d62d44 !important;
        transform: translateY(-2px);
    }

/* Yazı Linkleri */
.extra-links a, .footer-text, .footer-text a {
    color: #bbb;
    font-size: 0.85rem;
    text-decoration: none;
}
